<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DownLoad.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DownLoad.UI.Properties.Settings>
      <setting name="theme" serializeAs="String">
        <value>DevExpress Style</value>
      </setting>
      <setting name="isautostart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="appname" serializeAs="String">
        <value>RIMS数据下载程序</value>
      </setting>
      <setting name="islog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ismovefollow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dbtype" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="connstring" serializeAs="String">
        <value>fKti04vHK0LqBv2mqFCEnrsRvxJV1KvBDftb+RXaVfXs1Wkxucgyenh04GTEj9BJdi09jseWyAfySsvMPgFemrmIewuiikjTRwzA6+r5vg7GaZettCFCOtyXnzcVPf6zMyCUgv0WkYoz1O+EDiz+IA==</value>
      </setting>
      <setting name="isbodyrecord" serializeAs="String">
        <value>True</value>
      </setting>
    </DownLoad.UI.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="DevExpress;EnterpriseLibrary;FastReport"/>
    </assemblyBinding>
  </runtime>
</configuration>