<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Winning.DownLoad.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="DevExpress;EnterpriseLibrary;FastReport"/>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Winning.DownLoad.UI.Properties.Settings>
      <setting name="contr_rims" serializeAs="String">
        <value>fKti04vHK0LqBv2mqFCEnrsRvxJV1KvBDftb+RXaVfXs1Wkxucgyenh04GTEj9BJdi09jseWyAfySsvMPgFemrmIewuiikjTRwzA6+r5vg7GaZettCFCOtyXnzcVPf6zMyCUgv0WkYoz1O+EDiz+IA==</value>
      </setting>
      <setting name="contr_common" serializeAs="String">
        <value>fKti04vHK0LqBv2mqFCEnrsRvxJV1KvBDftb+RXaVfXs1Wkxucgyenh04GTEj9BJdi09jseWyAfySsvMPgFemrmIewuiikjTRwzA6+r5vg7GaZettCFCOtyXnzcVPf6zMyCUgv0WkYoz1O+EDiz+IA==</value>
      </setting>
      <setting name="uid" serializeAs="String">
        <value>2d4b181d-f4a2-4c85-bf05-0812c437fb6e</value>
      </setting>
      <setting name="appSecret" serializeAs="String">
        <value>8f26f8e2-f95d-4f92-a9d9-37383c779fe5</value>
      </setting>
      <setting name="theme" serializeAs="String">
        <value>DevExpress Style</value>
      </setting>
      <setting name="isautostart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="appname" serializeAs="String">
        <value>RIMS数据下载程序</value>
      </setting>
      <setting name="dbstyle" serializeAs="String">
        <value>sqlserver</value>
      </setting>
    </Winning.DownLoad.UI.Properties.Settings>
  </userSettings>
</configuration>