<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Winning.DownLoad.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="DevExpress;EnterpriseLibrary;FastReport"/>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Winning.DownLoad.UI.Properties.Settings>
      <setting name="connstring" serializeAs="String">
        <value>fKti04vHK0KHYTZgQBYx+Uk5jT8TBCXTRDdVR2y1ai60l5I4ylCRvglF5ych/ZeCDh+mY7i5f+TehYhp1QDBWbk/6tvJsB89XhX+LMcsqZbdvv9ngEo0hsRPk73Syqa9dWb16jjSzyE=</value>
      </setting>
      <setting name="theme" serializeAs="String">
        <value>DevExpress Style</value>
      </setting>
      <setting name="isautostart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="appname" serializeAs="String">
        <value>RIMS数据下载程序</value>
      </setting>
      <setting name="dbtype" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="islog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="logpath" serializeAs="String">
        <value>D://Logs//</value>
      </setting>
    </Winning.DownLoad.UI.Properties.Settings>
  </userSettings>
</configuration>